@import jquery.ui.all
@import compass/reset
@import compass/css3
@import foundation

$main_color: #5A51A2
$second_color: #EF912A
$third_color: #26C9FF
$fourth_color:#00D96D
$action_color: #60D4D9 
$background_color: #F0EFEE
$border_color: #E9E8E4
$text_color: #333
$em_color: #E9E8E4

$button-med: rem-calc(20)

$font: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif

/* Stylesheets */

header
  background-color: $main_color
  margin-bottom: 1.5em
  .logo
    text-align: center
    padding-top: 1.5em
    padding-bottom: 1em
    +grid-column(12, true, true)

body
  font-family: $font
  background-color: $main_color    
  outline: none

ul.ui-autocomplete 
  font-family: $font
  font-size: 0.9em
  color: #666666
  li.ui-menu-item
    a.ui-corner-all 

footer
  text-align: center
  margin-top: 1em
  +grid-column(4, true, true)
  a
    color: lighten($main_color, 30%)
    &:hover
      color: white

@import compares
