body.compares.new, body.compares.create
  .intro
    +grid-column(5, true, true)
    padding-bottom: 20px
    h1
      text-align: center
      line-height: 1.2em
      font-weight: 600
      color: $second_color
      font-size: 1.2em

  .main_box
    +grid-column(5, true, true)
    background-color: #fff
    a
      color: $action_color
    .search_icon
      text-align: center
      padding-top: 2em
      padding-bottom: 1em

  form
    background-color: white
    padding: 1em
    input, small.error
      margin: 0
    input[type='submit']
      +button(0, $second_color, true)
      +box-shadow(0px 3px 0px #D8770C)
      padding: 15px
      font-size: 1em
      border: 0
      width: 100%
      margin: 0
    .actions
      margin-top: 20px
    .car-name-1-field, .car-name-2-field, .car-name-3-field
      margin-bottom: 1.5em

  @media #{$small-only}
    .intro
      +grid-column(12)
    .main_box
      +grid-column(12)

body.compares.show

  .compares_box
    +grid-column(12, true, true)
    background-color: white
    padding-top: 2em
    padding-bottom: 1em

    h2
      font-size: 1.175em
      font-weight: 600
      color: #999999
      padding-left: 1.5em

  .models
    +grid-column($columns: 10)

    .car_names
      p.car_name
        padding-left: 2em
        margin-bottom: 0
        font-size: 1em
  
        &:nth-child(1)
          color: #26C9FF
        &:nth-child(2)
          color: #00D96D
        &:nth-child(3)
          color: #EF912A 
  a
    +grid-column(2, true)
    font-size: 0.9em
    color: $second_color
    font-weight: 600
    text-decoration: underline

  .results
    +grid-column(12)
    margin-top: 2em
    #col_chart_custom_tooltip
      

small.error
  border-radius: 0 0 3px 3px

