body.compares.new, body.compares.create
  .intro
    +grid-column(6, true, true)
    padding-bottom: 20px
    h1
      text-align: center
      line-height: 1.3em
      font-weight: bold
      color: $main_color
      font-size: 1.5em

  .main_box
    +grid-column(5, true, true)
    a
      color: $action_color

  form
    background-color: white
    padding: 1em
    input[type='submit']
      +button(0, $second_color, true)
      +box-shadow(0px 3px 0px #D8770C)
      padding: 15px
      font-size: 1em
      border: 0
      width: 100%
      margin: 0

    .actions
      margin-top: 20px

    #error_explanation
      +alert(red)

  @media #{$small-only}
    .intro
      +grid-column(12)
    .main_box
      +grid-column(12)

body.compares.show
  .cars, .chart
    +grid-column(12)
  h4
    &:nth-child(1)
      color: #3366cc
    &:nth-child(2)
      color: #dc3912
    &:nth-child(3)
      color: #ff9900
